<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Email</th>
    <th>Password</th>
  </thead>
  <tbody *ngFor="let log of logindata">
    <td>{{log.id}}</td>
    <td>{{log.email}}</td>
    <td>{{log.password}}</td>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ngform">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="psw" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="psw">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="savedata()">Save changes</button>
      </div>
    </div>
  </div>
</div>