<h4>Angular Pipes</h4>
<pre>

Full Name : {{user.firstName |uppercase}} {{user.lastName |uppercase}}
DOB :{{user.DOB }} 
DOB :{{user.DOB | date :'MMMM,dd,yyyy' }}
DOB :{{user.DOB |date:'shortDate'}}    
Salary :{{user.Salary}}
salary :{{user.Salary |currency:'INR':'code'}}
salary :{{user.Salary |currency:'INR'}}
salary :{{user.Salary |currency:'INR':'':'2.0-1'}}
<code>
Details:{{user|json}}
</code>

    
</pre>

<table class="table table-bordered">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>DOB</th>
        <th>Salary</th>
    </thead>
    <tr *ngFor="let user of users">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.city}}</td>
        <td>{{user.DOB}}</td>
        <td>{{user.Salary}}</td>
    </tr>
</table>