<div class="container">
    <ul>
        <li><a href="ngif">ngIf condition</a></li>
        <li><a href="ngIfSwith">ngIfSwith</a></li>
        <li><a href="ngFor">ngFor</a></li>
        <li><a href="ngStyle">ngStyle</a></li>
        <li><a href="ngClass">ngClass</a></li>
        <li><a href="interpolation">interpolation</a></li>
        <li><a href="PropertyBinding">Property Binding</a></li>
        <li><a href="eventBinding">Event Binding</a></li>
        <li><a href="pipes">Pipes</a></li>
        <li><a href="pipes/custom">custom Pipes</a></li>
        <li><a href="crud">CRUD</a></li>
        <li><a href="orders-list">Orders List</a></li>
        <li><a href="products">Lazy Loading</a></li>
        <li><a href="Dashboard">Dashboard</a></li>
    </ul>
</div>
